AsmStudentClient/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51749/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51749/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51749/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_getStudentList_InputMessage">
    <wsdl:part name="parameters" element="tns:getStudentList" />
  </wsdl:message>
  <wsdl:message name="IService_getStudentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStudentListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_updateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:updateStudent" />
  </wsdl:message>
  <wsdl:message name="IService_updateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getDetailStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:getDetailStudent" />
  </wsdl:message>
  <wsdl:message name="IService_getDetailStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDetailStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IService_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="getStudentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getStudentList" message="tns:IService_getStudentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getStudentListResponse" message="tns:IService_getStudentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/updateStudent" message="tns:IService_updateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/updateStudentResponse" message="tns:IService_updateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDetailStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getDetailStudent" message="tns:IService_getDetailStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getDetailStudentResponse" message="tns:IService_getDetailStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Add" message="tns:IService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddResponse" message="tns:IService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStudents" message="tns:IService_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStudentsResponse" message="tns:IService_GetStudents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStudentList">
      <soap:operation soapAction="http://tempuri.org/IService/getStudentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStudent">
      <soap:operation soapAction="http://tempuri.org/IService/updateStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDetailStudent">
      <soap:operation soapAction="http://tempuri.org/IService/getDetailStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IService/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:51749/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>